/* font-family: "GothamProRegular"; */
@font-face {
    font-family: "GothamProRegular";
    src: url("../fonts/GothamProRegular.eot");
    src: url("../fonts/GothamProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProRegular.woff") format("woff"),
    url("../fonts/GothamProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProMedium"; */
@font-face {
    font-family: "GothamProMedium";
    src: url("../fonts/GothamProMedium.eot");
    src: url("../fonts/GothamProMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProMedium.woff") format("woff"),
    url("../fonts/GothamProMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProLight"; */
@font-face {
    font-family: "GothamProLight";
    src: url("../fonts/GothamProLight.eot");
    src: url("../fonts/GothamProLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProLight.woff") format("woff"),
    url("../fonts/GothamProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProBold"; */
@font-face {
    font-family: "GothamProBold";
    src: url("../fonts/GothamProBold.eot");
    src: url("../fonts/GothamProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBold.woff") format("woff"),
    url("../fonts/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/*bootstrap-fix*/
@media (min-width: 768px){
	.head-1 .navbar-collapse.collapse {
		display: inline-block !important;
		padding: 0;
		margin-left: -15px;
		margin-right: -15px;
	}
}
@media (min-width: 1200px) and (max-width: 1500px){
	.container{
		width: 1170px;
		padding: 0 10px; 
	}
}








/*vars*/
@tel-fz: 24px;
@prime-color: #0e7afb;
@prime-color-bg: #114fb9;
@text-color: #000;
@text-white: #fff;
@font-family: "GothamProRegular";
@font-family-bold: "GothamProMedium";
@font-family-light: "GothamProLight";
@font-family-bolder: "GothamProBold";
@images: "../img";
@background-color: #f2f2f2;
@content-lg-width: 73%;
@content-sm-width: 67.1%;

/*header vars*/
@header-fz: 14px;
@header-bg: #ffffff;

/*footer vars*/
@footer-bg: #181818;
@footer-color: #bababa;
@footer-fz: 13px;

/*sidebar vars*/
@side-width: 21%;
@side-width-sm: 28.4%;
@side-margin: 6%;
@side-margin-sm: 4.5%;
@side-fz: 18px;

/*index-var*/
@square-bg: #1a398b;



/*MD-media vars*/
@tel-fz-md: 18px;
@side-fz-md: 16px;




.md(@rules) {
  @media (max-width: 1500px) { 
  	@rules();
  }
}
.sm(@rules){
  @media (max-width: 1200px) { 
  	@rules();
  }
}
.tb(@tablet-rules){
  @media (max-width: 992px) { 
  	@tablet-rules();
  }
}
.xs(@rules){
  @media (max-width: 768px) { 
  	@rules();
  }
};




.sm({
	.navbar{
		margin-bottom: 0;
	}
	.head-1 .navbar-collapse.collapse{
		margin: 0;
	}
	.hidden-tablet{
		display: none !important;
	}
});

/*======
	MIXINS
======*/

.box-shadow(@opacity, @blur: 40px, @x: 0px, @y: 0px, @spread: 0px){
	-webkit-box-shadow: @x @y @blur @spread rgba(0,0,0,@opacity);
	-moz-box-shadow: @x @y @blur @spread rgba(0,0,0,@opacity);
	box-shadow: @x @y @blur @spread rgba(0,0,0,@opacity);
}
.background-gradient(@first-color, @second-color, @angle:0){
	background-color: @first-color;
	background: -moz-linear-gradient(@angle, @first-color 0%, @second-color 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, @first-color), color-stop(100%, @second-color)); /* safari4+,chrome */
	background: -webkit-linear-gradient(@angle, @first-color 0%, @second-color 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(@angle, @first-color 0%, @second-color 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(@angle, @first-color 0%, @second-color 100%); /* ie10+ */
	background: linear-gradient(@angle, @second-color 0%, @first-color 100%); /* w3c */
}
.prod-head-style{
	font-family: @font-family-bold;
	font-size: 15px;
	color: @prime-color;
	border-bottom: 1px solid fade(@prime-color, 50%);
	.md({
		font-size: 13px;
	});
	.sm({
		font-size: 15px;
	});
	.xs({
		font-size: 12px;
	});
}
.prime-btn(@width, @height){
	display: inline-block;
	width: @width;
	height: @height;
	border-radius: @height/2;
	line-height: @height*0.9;
	border: 4px solid fade(@text-color, 10%);
	color: fade(@text-color, 50%);
}

.transform(@type-quant, @origin:center center){
	-webkit-transform-origin: @origin;
	-ms-transform-origin: @origin;
	-o-transform-origin: @origin;
	transform-origin: @origin;
	-webkit-transform: @type-quant;
	-ms-transform: @type-quant;
	-o-transform: @type-quant;
	transform: @type-quant;
}

.button-btn{
	display: inline-block;
	height: 30px;
	width: 110px;
	line-height: 30px;
	background-color: @prime-color-bg;
	font-family: @font-family-bold;
	color: @text-white;
	border-radius: 15px;
	padding: 0 14px;
	border: none;
	&:after{
		content: url("@{images}/rarr.png");
		float: right;
	}
	&:hover{
		background-color: lighten(@prime-color-bg, 10%);
	}
	.md({
		height: 25px;
		line-height: 25px;
	});
	.sm({
		height: 30px;
		line-height: 30px;
	});
	.xs({
		width: 75px;
		height: 22px;
		font-size: 11px;
		line-height: 22px;
		padding: 0 8px;
		&:after{
			margin-top: 1px;
		}
	});
}
.prod-price{
	font-family: @font-family-light;
	margin-right: 7px;
	margin-top: 20px;
	display: inline-block;
	.sm({
		font-size: 16px;
	});
	.xs({
		font-size: 13px;
	});
}

.center-absolute{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}


.compare{
	display: inline-block;
	height: 30px;
	padding-left: 45px;
	background: url("@{images}/header-2.png") no-repeat;
	position: absolute;
	top: 33px;
	left: 48px;
	a{
		font-family: @font-family-bolder;
		font-size: 14px;
		color: @prime-color;
	}
	.xs({
		padding-left: 35px;
		background-size: 28px;
		height: 20px;
		top: 15px;
		left: 15px;
		a{
			font-size: 11px;
			vertical-align: top;
		}
	});
}


.input(@width, @height){
	width: @width;
	height: @height;
	color: #000;
	font-family: @font-family;
	font-size: 18px;
}


.spec{
	font-size: 14px;
	width: 630px;
	display: inline-block;
	li span{
		display: inline-block;
		width: 49%;
		border-bottom: 1px solid #313131;
		padding-top: 10px;
		padding-bottom: 2px;
	}
	.spec-left{
		font-family: @font-family-light;
	}
	.spec-right{
		font-family: @font-family-bold;
		float: right;
	}
	&+.spec{
		margin-left: 60px;
	}
}





body{
	font-family: @font-family;
	background-color: @background-color;
	color: @text-color;
}
.tel{
	font-size: @tel-fz;
	.md({
		font-size: @tel-fz-md;
	});
}
p{
	margin-bottom: 0;
}
ul{
	list-style: none;
	padding-left: 0;
}
a{
	color: @prime-color;
}
a:hover, a:focus{
	text-decoration: none;
}
h2{
	font-size: 50px;
	margin: 0 0 20px;
	.md({
		font-size: 45px;
	});
	.sm({
		font-size: 30px;
	});
	.tb({
		font-size: 24px;
	});
}
*:focus{
	outline: none !important;
}
.visible{
	display: block !important;
}

ol.breadcrumb{
	margin-top: 10px;
	background-color: transparent;
	color: rgba(0, 0, 0, 0.5);
	font-family: @font-family-light;
	padding-left: 0;
	font-size: 16px;
	a{
		color: rgba(0, 0, 0, 0.5);
	}
	&:before{
		content: "";
		display: block;
		clear: both;
		overflow: hidden;
	}
	.xs({
		display: none;
	});
}
.sm({
	.cart-cont .breadcrumb{
		margin-top: 24px;
	}
});
	
.breadcrumb>li+li:before{
	content: "";
	display: inline-block;
	padding: 0;
	width: 50px;
	height: 1px;
	vertical-align: middle;
	margin: 0 5px;
	background-color: rgba(0, 0, 0, 0.4);
}
.tiny{
	font-size: 12px;
	color: #898989;
}

.sm({
	ol.breadcrumb{
		font-size: 13px;
		margin-top: 0;
		padding-top: 0;
	}
	.breadcrumb>li+li:before{
		width: 40px;
	}
});
.tb({
	ol.breadcrumb{
		margin-top: 20px;
	}
});


.side-contact{
	font-size: 13px;
	.wrap{
		background-color: @header-bg;
	}
	.side-map{
		display: inline-block;
		position: relative;
		span{
			display: inline-block;
			overflow: hidden;
			transition: box-shadow 0.7s;
		}
		img{
			transition: transform 1s;
			max-width: 100%;
		}
		&:after{
			content: url("@{images}/map-resize.png");
			position: absolute;
			right: -11px;
			top: -11px;
		}
		&:hover img{
			.transform(scale(1.05));
		}
		&:hover span{
			.box-shadow(0.2);
		}
	}
	.text-wrap{
		padding: 25px;
	}
	.tel{
		font-family: @font-family-bold;
	}
	.w-time{
		margin-top: 30px;
		color: fade(@text-color, 60%);
	}
	p{
		line-height: 1.6;
	}
	.md({
		.text-wrap{
			padding: 15px;
		}
	});
	.sm({
		font-size: 12px;
		.text-wrap{
			padding: 25px;
			.w-time br{
				display: none;
			}
			a{
				display: block;
			}
		}
	});
	.xs({
		font-size: 11.5px;
		max-width: 290px;
		margin: 0 auto;
		float: none;
		img{
			width: 100%;
		}
		.side-map{
			display: block;
			span{
				display: block;
			}
		}
	});
}






/*======
	HEADER
======*/


header{
	font-size: @header-fz;
	background-color: @header-bg;
	.box-shadow(0.2);
	padding-bottom: 120px;
	position: relative;
	.md({
		font-size: 12px;
	});
	a:hover{
		text-decoration: underline !important;
	}
	.head-1{
		font-family: @font-family-bold;
		.nav:first-child li + li a{
			margin-left: 20px;
			.sm({
				margin-left: 10px;
			});
		}
		.nav:first-child li a{
			.md({
				padding: 20px 5px;
			});
		}
		.navbar-right li a{
			color: @prime-color;
			padding-left: 42px;
			background-position: left center;
			background-repeat: no-repeat;
		}
		.navbar-right li:first-child a{
			background-image: url("@{images}/header-1.png");
		}
		.navbar-right li:last-child a{
			background-image: url("@{images}/header-2.png");
		}
		.navbar-right li a:hover{
			color: @prime-color;
		}
	}
	.head-2{
		font-family: @font-family;
		position: relative;
		z-index: 2;
		background-color: transparent;
		p{
			margin-bottom: 15px;
			.md({
				margin-bottom: 10px;
			});
		}
		.navbar-header{
			width: @side-width;
			text-align: center;
			height: 45px;
			margin: 13px @side-margin 13px 0;
			.sm({
				margin-right: @side-margin-sm - 1.5;
			})
		}
		.navbar-brand{
			padding: 0;
			float: none;
			margin: 0;
			display: inline-block;
			height: 45px;
		}
		.navbar-form{
			padding: 0;
			position: relative;
			width: 32.8%;
			.sm({
				width: 23.5%;
				input{
					font-size: 12px;
				}	
			});
		}
		.form-group{
			width: 100%;
		}
		.navbar-form input{
			width: 100%;
			height: 45px;
			background-color: #f0f0f0;
			transition: all 0.2s;
			box-shadow: none;
			border: 1px solid #f0f0f0;
			border-radius: 0;
		}
		.navbar-form input:focus{
			background-color: #fff;
		}
		button{
			background-color: transparent;
			border: none;
			height: 45px;
			position: absolute;
			top: 0;
			right: 0;
			padding-right: 15px;
		}
		.navbar-right{
			margin-right: 0;
		}
		.navbar-right li{
			padding: 10px 0 10px 46px;
			height: 70px;
			background: left center no-repeat;
			line-height: 0.8;
			.md({
				padding-left: 37px;
				height: 60px;
				padding: 15px 0 15px 52px;
			});
		}
		span{
			color: #a2a2a2;
			float: right;
			display: inline-block;
			line-height: normal;
			line-height: 20px;
		}
		.navbar-right li:first-child{
			background-image: url("@{images}/header-3.png");
			.md({
				background-size: 29px;
				background-position: 5px bottom;
			})
		}
		.navbar-right li:last-child{
			background-image: url("@{images}/header-4.png");
			font-size: 16px;
			margin-left: 60px;
			p{
				margin-bottom: 20px;
			}
			.md({
				background-size: 39px;
				font-size: 14px;
				margin-left: 45px;
				p{
					margin-bottom: 10px;
				}
			})
		}
		.navbar-right a{
			padding: 0;
			color: @prime-color;
			display: inline-block;
			&:hover{
				color: @prime-color;
			}
		}
		
		.price{
			font-size: 16px;
			color: @prime-color;
			font-family: @font-family-bold;
		}
	}
	.head-3{
		.navbar-collapse.collapse{
			padding: 0;
		}
		margin: 0 0 -120px;
		border: 0;
		height: 80px;
		font-size: 18px;
		text-align: center;
		li{
			display: inline-block;
			height: 100%;
			a{
				color: #000;
				padding: 27.5px 39px;
				position: relative;
				height: 100%;
				&:hover{
					color: @text-white !important;
					.background-gradient(@prime-color-bg, #2471f5, 315deg);
					span{
						color: @text-white;
					}
					&:after{
						content: url("@{images}/rarr.png");
						position: absolute;
						bottom: 5px;
						right: 5px;
						.transform(rotate(90deg));
					}
				}
			}
		}
		span{
			font-size: 12px;
			vertical-align: super;
			color: #898989;
		}
		.md({
			font-size: 16px;
			height: 67px;
			li a{
				padding: 21px;
			}
		});
		.sm({
			font-size: 12px;
			li a{
				padding: 21px 22px;
			}
			span{
				font-size: 10px;
			}
		});
		.tb({
			font-size: 11px;
			height: 53px;
			li a{
				padding: 18.5px 7px;
			}
		});
		.xs({
			height: auto;
			margin-bottom: -25px;
			width: 100%;
			float: left;
			background-color: transparent;
			margin-top: 53px;
			.container{
				padding: 0;
				.box-shadow(0.10, 30px, 0, -15px);
			}
			.nav{
				margin: 0;
				padding-bottom: 25px;
			}
			li{
				width: 100%;
				a{
					padding: 10px 8px;
				}
			}
			.navbar-header{
				padding: 25px 30px;
				text-align: left;
				margin: 0;
				background-color: #fff;
				position: relative;
				z-index: 6;
			}
			.navbar-toggle{
				height: auto;
				padding: 0;
				margin: 0;
				.icon-bar{
					background-color: @prime-color;
					vertical-align: bottom;
				}
				
			}
			.head-3-current{
				font-size: 12px;
				display: inline-block;
				vertical-align: bottom;
			}
			.navbar-collapse{
				background-color: #fff;
				margin: 0;
			}
		});

	}
	.tb({
		.head-1{
			font-size: 10px;
			.navbar-right li a{
				padding-left: 35px;
				background-size: 30px;
			}
			.nav:first-child li + li a{
				margin-left: 0;
			}
		}
		.head-2{
			text-align: center;
			.navbar-header, .navbar-form, .navbar-right{
				display: inline-block;
				float: none !important;
				vertical-align: top;
			}
			.navbar-form{
				width: 300px;
				margin-left: 50px;
			}
			.navbar-right{
				margin-top: 20px;
			}
		}
		});
	.xs({
		padding-bottom: 85px;
		.container{
			width: 280px;
			margin: 0 auto;
		}
		.head-1 .navbar-collapse.collapse,
		.head-1 .navbar-collapse.collapsing{
			margin: 0;
		}
		.head-1{
			.navbar-header{
				margin-top: 150px;
				button{
					float: left;
					margin: 5px 0 15px;
					border: none;
					padding: 3px;
					.icon-bar{
						background-color: #000;
						height: 3px;
						width: 28px;
						margin-bottom: 6px;
					}
				}
			}
			.navbar-right{
				position: absolute;
				top: 0;
				width: 280px;
				text-align: center;
				li{
					display: inline-block;
					a{
						padding-right: 10px;
					}
				}
			}
			.nav:first-child li a{
				padding: 5px 0;
			}
		}
		.head-2{
			position: static;
			width: 280px;
			margin: 0 auto -50px;
			.container{
				padding: 0;
			}
			.navbar-header{
				position: absolute;
				top: 55px;
				width: 100%;
				text-align: center;
				left: 0;
			}
			.navbar-form{
				position: absolute;
				top: 150px;
				right: -60px;
				width: 220px;
				margin: auto;
				left: 0;
			}
			.navbar-right{
				margin: 10px 0;
				width: 100%;
				position: relative;
				z-index: 2;
				li{
					font-size: 9px;
					float: left;
					margin: 0 !important;
					&:first-child{
						background-size: 16px;
						padding-left: 18px;
						width: 57%;
						background-position: left center;
					}
					&:last-child{
						background-size: 25px;
						background-position: 10px center;
						font-size: 9px;
						width: 43%;
						padding-left: 20px;
						text-align: right;
						p{
							margin-bottom: 5px;
						}
					}
					.tel{
						font-size: 13px;
						text-align: left;
						margin-left: 6px;
						margin-bottom: 2px;
					}
					.price{
						font-size: 12px;
					}
				}
			}
		}
	});
	
}


.h3-dropdown-menu{
	display: none;
	height: 85px;
	width: 100%;
	background-color: #1f1f1f;
	position: relative;
	z-index: 4;
	.menu-wrap{
		position: relative;
		opacity: 0;
		transition: opacity 1s;
		background-color: #1f1f1f;
		height: 100%;
		text-align: left;
	}
	.menu-half{
		width: 50%;
		height: 100%;
		float: left;
		position: relative;
		padding: 28px 50px;
		&:before{
			color: @text-white;
			opacity: 0.4;
			position: absolute;
			text-transform: uppercase;
			top: 10px;
			left: 10px;
			font-size: 10px;
		}
		&:first-child:before{
			content: "типы";
		}
		&:last-child:before{
			content: "бренды";
		}
		&:first-child{
			border-right: 1px solid #363636;
			a{
				font-family: @font-family-light;
				font-size: 18px;
				color: @text-white;
				border-bottom: 1px solid @text-white;
				width: auto;
				&:hover{
					text-decoration: none !important;
					border-bottom: none;
				}
			}
			a+a{
				margin-left: 50px;
			}
		}
		&.menu-brand{
			a{
				display: inline-block;
				margin-left: 30px;
			}
		}
		
	}
	.md({
		.menu-half{
			&.menu-brand a{
				margin-left: 15px;
				img{
					width: 80%;
				}
			}
			&:first-child{
				a{
					font-size: 16px;
				}
			}
		}

	});
	.sm({
		height: auto;
		&:after{
			content: " ";
			display: block;
			clear: both;
		}
		.menu-half{
			padding: 20px 35px 15px 45px;
			&.menu-brand{
				padding-left: 80px;
				a{
					text-align: center;
					margin-left: -15px;
					img{
						width: 70%;
					}
				}
			}
			&:first-child{
				a{
					font-size: 13px;
					&+a{
						margin-left: 30px;
					}
				}
			}
			&:before{
				font-size: 7px;
			}
		}
	});
	.tb({
		.menu-half{
			padding-left: 20px;
			&:first-child{
				a{
					font-size: 12px;
				}
			}
			&.menu-brand{
				padding-left: 20px;
				padding-right: 20px;
				a{
					margin-left: -25px;
					img{
						width: 60%;
					}
				}
			}

		}
	});
	.xs({
		font-size: 12px;
		.box-shadow(0.15);
		.menu-wrap{
			display: none;
		}
		.menu-half{
			float: none;
			width: 100%;
			text-align: center;
			padding: 25px 25px 20px;
			&:first-child{
				a{
					display: block;
					border-bottom: none;
				}
				a+a{
					margin-left: 0;
					margin-top: 15px;
				}
				border-bottom: 1px solid rgba(255, 255, 255, 0.2);
			}
			&.menu-brand{
				padding: 25px 25px 20px;
				a{
					display: block;
					margin: 0 0 15px;

					img{
						width: auto;
					}
				}
			}
			button{
				background-color: transparent;
				width: 100%;
				border: none;
				color: #fff;
				font-size: 12px;
				text-align: left;
				height: 19px;
				transition: height 0.4s;
				&:not(.collapsed){
					height: 35px;
				}
				span{
					font-size: 15px;
					position: relative;
					left: 2px;
					top: 2px;
				}
			}

		}

	});

}



/*======
	FOOTER
======*/

footer{
	background-color: @footer-bg;
	color: @footer-color;
	padding: 75px 0;
	font-size: @footer-fz;
	.side{
		width: @side-width;
		color: @text-white;
		float: left;
		font-size: @footer-fz + 1;
		img{
			margin-bottom: 15px;
		}
		>div{
			margin-top: 25px;
		}
		span{
			display: block;
		}
		.tel-wrap{
			margin-top: 15px;
		}
		.tel-wrap span{
			color: @footer-color;
		}
		a{
			color: @text-white;
		}
		.tel{
			font-family: @font-family-bold;
			line-height: 1.2;
		}
	}
	.footer-text{
		float: left;
		width: 450px;
		margin: 0 @side-margin;
		line-height: 1.8;
		.head{
			font-size: 24px;
			font-family: @font-family-bold;
			color: @text-white;
			line-height: 1;
			margin-bottom: 25px;
		}
	}
	.footer-right{
		max-width: 520px;
		float: right;
	}
	.footer-widget{
		width: 257px;
		vertical-align: top;
		display: inline-block;
		margin-bottom: 25px;
		float: left;
		h2{
			font-family: @font-family-bold;
			font-size: @footer-fz + 5px;
			color: @text-white;
			margin: 0 0 15px;
		}
		a{
			color: @footer-color;
			display: inline-block;
			line-height: 0.8;
			border-bottom: 1px solid darken(@footer-color, 40%);
			margin-bottom: 15px;
			&:hover{
				text-decoration: none;
				padding-bottom: 1px;
				border-bottom: none;
			}
		}
	}
	.md({
		font-size: 10.5px;
		padding-bottom: 50px;
		.footer-text{
			width: 365px;
			margin-right: 50px;
		}
		.footer-right{
			max-width: 420px;
		}
		.footer-widget{
			width: 210px;
		}
	});
	.sm({
		font-size: 11px;
		img{
			width: 105px;
		}
		.footer-text{
			margin: 0 @side-margin-sm - 2%;
			width: 305px;
			.head{
				font-size: 18px;
			}
		}
		.side{
			font-size: 12px;
		}
		.footer-right{
			width: 390px;
		}
		.footer-widget{
			font-size: 13px;
			width: 195px;
			vertical-align: bottom;
			margin-bottom: 15px;
			padding-right: 10px;
			li{ 
				margin-bottom: 13px;
				a{
					display: inline;
				}
			}
		}
	});
	.tb({
		.side{
			width: 200px;
		}
		.footer-text{
			width: 100%;
			margin-top: 25px;
		}
	});
	.xs({
		font-size: 8px;
		padding: 45px 0;
		.container{
			max-width: 290px;
			margin: 0 auto;
			position: relative;
			padding: 0;
		};
		.side{
			text-align: center;
			font-size: 9px;
			width: 100%;
			>div{
				text-align: left;
				width: 50%;
			}
			.foot-mail{
				position: absolute;
				top: 33px;
				right: 0;
			}
		}
		.side .tel{
			font-size: 12px;
			font-family: @font-family-bolder;
		}
		.footer-right{
			width: 100%;
			margin-top: 35px;
		}
		.footer-widget{
			width: 50%;
			font-size: 9px;
			padding-right: 0;
			h2{
				font-size: 12px;
			}
			li{
				margin-bottom: 8px;
			}
		}
		.footer-text{
			margin: 15px 0 0;
			.head{
				font-size: 12px;
				margin-bottom: 15px;
			}
		}
	});
}










/*======
	SAMPLE-PAGE
=========*/
#myMap{
	height: 480px;
}
.sample-page{
	font-size: 16px;
	.sample-wrap{
		background-color: #fff;
		padding: 75px 45px 75px 120px;
		overflow: hidden;
	}
	.breadcrumb:before{
		padding-top: 10px;
	}
	.sample-content{
		width: 890px;;
		.h3{
			font-size: 30px;
			font-family: @font-family-light;
		}
		.row:after{
			clear: left;
		}
		p.head{
			font-size: 24px;
			font-family: @font-family-bolder;
		}
		p, ul{
			font-family: @font-family-light;
			line-height: 1.5;
		}
		ul li{
			padding-left: 10px;
			position: relative;
			&:before{
				content: "•";
				display: inline-block;
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				margin: auto;
			}
		}
		.area{
			margin-bottom: 50px;
		}
		.sample-alert{
			font-size: 13px;
			padding: 40px 48px;
			border: 12px solid #f2f2f2;
			p.head{
				font-size: 24px;
				font-family: @font-family-light;
				color: @prime-color-bg;
				margin-bottom: 25px;
			}
			a{
				color: @prime-color-bg;
			}
		}
		.slider-wrap{
			margin: 40px 0;
			position: relative;
			.controls{
				position: absolute;
				top: 0;
				left: 0;
				text-align: center;
				span{
					display: block;
					color: #898989;
					margin-top: 10px;
				}
				button{
					width: 55px;
					height: 55px;
					border-radius: 27px;
					border: 3px solid #e5e5e5;
					background-color: transparent;
					&+button{
						margin-left: 5px;
					}
					b{
						display: inline-block;
						width: 18px;
						height: 12px;
						background-image: url("@{images}/slider-controls.png");
						background-repeat: no-repeat;
					}
				}
			}
		}
		.slider{
			max-width: 620px;
			margin-left: 170px;
			&:after{
				clear: both;
			}
		}
	}
	.map-wrap{
		margin-top: 70px;
		position: relative;
	}
	.cont-text-box{
		p{
			font-family: @font-family;
		}
		position: absolute;
		z-index: 2;
		top: 80px;
		right: 50px;
		.side-contact();
		width: 395px;
		padding: 65px 45px;
		background-color: #f2f2f2;
		.w-time{
			margin-top: 0;
		}
	}
	.ship-wrap{
		margin-top: 30px;
	}
	.sidebar{
		width: 305px;
	}
	.sample-aside{
		display: block;
		padding: 60px 70px;
		background-color: @prime-color-bg;
		color: @text-white;
		margin-bottom: 50px;
		p{
			font-size: 18px;
			font-family: @font-family-bold;
		}
		li{
			margin-top: 12px; 
			a{
				font-size: 13px;
				color: @text-white;
				text-decoration: underline;
				&.active{
					text-decoration: none;
					opacity: 0.5;
				}
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
	.about-wrap{
		margin-top: 25px;
		ul{
			margin-bottom: 30px;
		}
	}
}
#sample-next b{
	background-position: right;
}
#sample-prev b{
	background-position: left;
}


















/*======
	INDEX
=========*/

.index-cont{
	margin-top: -85px;
	.sidebar{
		width: @side-width;
		.sm({
			width: @side-width-sm;
		});
		.tb({
			width: 30%;
		});
	}
	.side-contact{
		.side-contact();
		float: left;
		width: 100%;
		margin-top: -10px;
		h2{
			margin-bottom: 30px;
		}
	}
	.side{
		width: 100%;
		background-color: @header-bg;
		float: left;
		position: relative;
		.box-shadow(0.1);
		ul {
			padding: 25px 0 40px;
			.sm({
				padding: 5px 0px 8px;
			})
		}
		ul a{
			display: inline-block;
			color: @text-color;
			width: 100%;
			height: 52px;
			padding: 27px 35px 0 40px;
			margin: 3px 0;
			position: relative;
			font-size: @side-fz;
			span{
				display: block;
				border-bottom: 1px solid fade(@text-color, 20%);
				b{
					float: right;
					font-weight: normal;
					color: fade(@text-color, 50%)
				}
			}
			&:hover, &:active{
				.background-gradient(@prime-color-bg, lighten(@prime-color-bg, 10.5%), 315deg);
				text-decoration: none;
				color: @text-white;
				span{
					border: none;
					b{
						display: none;
					}
				}
				&:after{
					content: url("@{images}/rarr.png");
					position: absolute;
					right: 35px;
					bottom: 0px;
					font-weight: bolder;
				}
			}
			.md({
				font-size: @side-fz-md;
			});
			.sm({
				font-size: 14px;
				padding: 20px 30px 0;
				margin: 0;
				height: 40px;
			});
		}
		>.download{
			height: 105px;
			padding: 20px 0 0 105px;
			background: #1f1f1f url("@{images}/side-bg.png") no-repeat 18px bottom;
			line-height: 1.25;
			a{
				color: @text-white;
				font-size: @side-fz;
				border-bottom: 1px solid fade(@text-white, 50%);
				&:hover{
					text-decoration: none;
					border-bottom: none;
				}
				.sm({
					font-size: 16px;
				});
			}
			span{
				display: block;
				color: fade(@text-white, 50%);
				font-size: 12px;
				.sm({
					font-size: 11px;
					margin-top: 5px;
				});
			}
		}
	}
	.slider{
		width: @content-lg-width + @side-margin;
		float: right;
		position: relative;
		.sm({
			width: @content-sm-width + @side-margin-sm;
		});
		.tb({
			width: 70%;
		});
		.slick-list{
			margin-top: -70px;
		}
		.slick-slide img{
			width: 100%;
			.sm({
				width: auto;
				position: relative;
				left: -280px;
			});
		}
		.slick-dots{
			display: inline-block;
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			height: 120px;
			left: 35px;
			button{
				font-size: 0;
				width: 14px;
				height: 14px;
				border:none;
				border-radius: 7px;
				background-color: fade(@text-white, 20%);
			}
			.slick-active button{
				background-color: @text-white;
			}	
			.sm({
				left: 12px;
			});
		}
		.slide{
			position: relative;
			padding-top: 100px;
		}
		.text-box{
			width: 480px;
			height: 360px;
			background-color: @prime-color-bg;
			color: @text-white;
			font-size: 16px;
			padding: 65px 80px;
			position: absolute;
			top: 70px;
			left: @side-margin+1.3;
			.box-shadow(0.2, 100px, 0, 0, 0);
			
			.head{
				font-size: 26px;
				font-family: @font-family-bold;
				line-height: 1.1;
				margin-bottom: 20px;
				.md({
					font-size: 22px;
				});	
				.sm({
					font-size: 18px;
					margin-bottom: 30px;
				});
			}
			p{
				font-family: @font-family-light;
				margin-bottom: 45px;
				.md({
					margin-bottom: 30px;
				});
			}
			a{
				display: inline-block;
				width: 240px;
				height: 50px;
				background-color: @text-white;
				color: @prime-color-bg;
				font-family: @font-family-bold;
				border-radius: 25px;
				line-height: 50px;
				padding: 0 20px;
				&:after{
				    content: url("@{images}/slide-arr.png");
				    float: right;
				}
				&:hover{
					text-decoration: none;
					opacity: 0.95;
				}
				.md({
					height: 36px;
					width: 190px;
					line-height: 36px;
					font-size: 13px;
					&:after{
						width: 14px;
						position: relative;
						top: 2px;
					}
				});

			}
			.md({
				width: 400px;
				height: 300px;
				padding: 50px 60px;
				font-size: 14px;
			});
			.sm({
				width: 315px;
				height: 330px;
				padding: 60px 45px;
				left: 35px;
			});
			.xs({
				font-size: 12.4px;
				width: 270px;
				height: 290px;
				padding: 50px 35px;
				.head{
					font-size: 16px;
				}
				a{
					font-size: 11.4px;
					width: 165px;
					height: 30px;
					line-height: 30px;
					padding: 0 15px;
				}
			});	
		}
	}
	.products{
		margin-top: 70px;
		margin-left: @side-margin;
		float: left;
		position: relative;
		width: @content-lg-width;
		.sm({
			width: @content-sm-width;
			margin-left: @side-margin-sm;
			margin-top: 20px;
			h2{
				font-size: 30px;
				margin-bottom: 10px;
			}
		});
		>p{
			font-size: 16px;
			color: fade(@text-color, 50%);
			width: 340px;
			margin-bottom: 45px;
			.sm({
				font-size: 14px;
				margin-bottom: 55px;
			});
		}
		.col{
			float: left;
		}
		.col.col-big{
			width: 570px;
			.md({
				width: 470px;
			});
			.sm({
				width: 100%;			
			});
		}
		.col-big .index-prod{
			float: left;
		}
		.col.col-right{
			margin-left: 50px;
			.md({
				margin-left: 25px;
			});
		}
		.index-prod{
			position: relative;
			margin-bottom: 40px;
			.price{
				.prod-price();
			}
			.head{
				.prod-head-style;
			}
			.text-wrap{
				padding: 0 20px;
			}
			.img-wrap{
				overflow: hidden;
				img{
					max-width: 100%;
					transition: transform 1s;
				}
			}
			&:hover .img-wrap img{
				.transform(scale(1.05));
			}
			.md({
				.price{
					margin-top: 10px;
				}
			});
			.sm({
				.price{
					margin-top: 20px;
				}
			});
		}
		.more-wrap{
			float: right;
			color: fade(@text-color, 50%);
			font-size: 14px;
			a{
				.prime-btn(54px, 54px);
				text-align: center;
			}
			a.link{
				width: 148px;
				margin-left: -8px;
			}
			span{
				display: block;
				margin: 20px 0 40px;
			}
			.md({
				a{
					width: 40px;
					height: 40px;
					line-height: 35px;
					border-width: 3px;
				}
				a.link{
					width: 110px;
					font-size: 13px;
					margin-left: 0;
					margin-right: -8px;
				}
			});
			.sm({
				max-width: 150px;
				a{
					width: 54px;
					height: 54px;
					border-width: 4px;
					line-height: 46px;
				}
				span{
					display: inline-block;
					margin: 0 0 0 10px;
					vertical-align: middle;
				}
				a.link{
					width: 148px;
					font-size: 14px;
					margin-top: 10px;
				}
			});
		}
		.prod-big{
			width: 100%;
			height: 450px;
			background: #000;
			color: @text-white;
			.img-wrap{
				text-align: right;
			}
			img{
				max-width: 570px;
			}
			.text-wrap{
				padding: 0 85px 0 48px;
				.md({
					padding: 0 30px;
				});
				.sm({
					padding: 0 45px;
				});
			}
			p{
				color: fade(@text-white, 50%);
				margin-bottom: 20px;
			}
			.price{
				font-size: 24px;
				margin-top: 0;
			}
			a{
				color: @text-white;
				&:hover{
					border-bottom: none;
					margin-bottom: 1px;
				}
			}
			.head{
				border-bottom: 1px solid fade(@text-white, 50%);
				font-size: 20px;
				font-family: @font-family-bold;
				color: @text-white;
				.md({
					font-size: 18px;
				});
				.sm({
					font-size: 20px;
					})
			}
			.md({
				height: 410px;
			});
			.sm({
				height: 450px;
			});
		}
		.compare{
			.compare();
		}
		.prod-min{
			width: 260px;
			height: 210px;
			background-color: #fff;
			.img-wrap{
				width: 100%;
				height: 110px;
				img{
					width: 100%;
					max-width: 100%;
				}
			}
			.md({
				width: 225px;
				height: 190px;
				.img-wrap{
					height: 100px;
				}
			});
		}
		.prod-square{
			width: 260px;
			height: 265px;
			background-color: @square-bg;
			float: right !important;
			.img-wrap{
				text-align: center;
				height: 150px;
				display: table;
				width: 100%;
				position: relative;
				margin-bottom: 10px;
				img{
					position: absolute;
					bottom: 0;
					margin: 0 auto;
					left: 0;
					right: 0;
					max-width: 262px;
				}
			}
			.head{
				color: @text-white;
				border-bottom-color: fade(@text-white, 50%);
			}
			.price{
				color: @text-white;
			}
			.md({
				width: 225px;
				height: 230px;
				.img-wrap{
					height: 130px;
				}
			});
		}
		.prod-right{
			width: 445px;
			.img-wrap{
				height: 230px;
				margin-bottom: 15px;
			}
			.md({
				width: 340px;
				.img-wrap{
					height: 150px;
				}
			});
		}
		.prod-left{
			width: 325px;
			position: absolute;
			top: 330px;
			left: -365px;
			.img-wrap{
				height: 210px;
				margin-bottom: 15px;
				.md({
					height: 150px;
				});
			}
			.md({
				width: 280px;
				top: 380px;
				left: -300px;
			});
		}
		.prod-right, .prod-left{
			background-color: @background-color - #020202;
			border: 15px solid #fff;
			height: 375px;
			.md({
				height: 300px;
			});
		}
		.sm({
			.prod-right, .prod-left{
				overflow: hidden;
				width: 265px;
				height: 360px;
				position: absolute;
				left: -308px;
				.img-wrap {
					position: relative;
					height: 200px;
					img{
						max-width: 150%;
						width: 150%;
					}
				}
			}
			.prod-left{
				top: 138px;
			}
			.prod-right{
				top: 528px;
			}
			.prod-square, .prod-min{
				width: 280px;
				height: 280px;
				.img-wrap{
					height: 150px;
					margin-bottom: 15px;
				}
				.text-wrap{
					padding: 0 30px;
				}
			}
			.col-right{
				.more-wrap{
					position: absolute;
					top: -5px;
					right: 0;
				}
				.prod-min{
					display: none;
				}
			}
		});
		.tb({
			width: 100%;
			padding-left: 0;
			margin-left: 0;
			.prod-right, .prod-left{
				display: none;
			}
			.col-big{
				width: 100%;
			}
			.prod-square, .prod-min{
				width: 320px;
				height: 300px;
			}
		});
		.xs({
			max-width: 320px;
			margin: 0 auto 50px;
			float: none;
			h2{
				font-size: 24px;
			}
			>p{
				font-size: 10px;
				width: auto;
				padding: 0 50px 0 0;
				margin-bottom: 20px;
			}
			.prod-wrap{
				margin-left: -15px;
				margin-right: -15px;
				&:after{
					content: " ";
					display: block;
					clear: both;
				}
			}
			.prod-big{
				height: auto;
				padding-bottom: 20px;
				margin-bottom: 0;
				.text-wrap{
					padding: 15px;
					p{
						font-size: 11px;
						margin-top: 5px;
					}
				}
				.price{
					font-size: 18px;
				}
				.head{
					font-size: 16px;
				}
			}
			.prod-square, .prod-min{
				width: 50%;
				height: auto;
				padding-bottom: 12px;
				.img-wrap{
					height: 90px;
					margin-bottom: 0;
					max-width: 160px;
					margin: 0 auto;
				}
				.text-wrap{
					padding: 0 8px;
				}
				.price{
					margin-right: 1px;
				}
				.button{
					margin-right: -4px;
				}

			}
			.prod-square{
				img{
					max-width: 85px !important;
					top: 5px;
				}
			}
			.col-right .more-wrap{
				top: auto;
				bottom: -15px;
				width: 100%;
				max-width: 100%;
				font-size: 14px;
				a{
					width: 35px;
					height: 35px;
					line-height: 25px;
				}
				a.link{
					width: 135px;
					float: right;
					margin-top: 3px;
				}
				span{
					margin-left: 2px;
				}
			}
		});
		.button{
			.button-btn();
		}

	}
	.xs({
		.slider{			
			margin-left: -15px;
			margin-top: 50px;
			width: 100%;
			float: none;
			.slick-list{
				margin-right: -30px;
				height: 360px;
			}
			.slick-dots{
				top: 75px;
			}
		}
		.side-contact h2{
			margin-bottom: 15px;
		}
		.sidebar{
			width: 100%;
			max-width: 480px;
			margin: 25px auto;
			&:after{
				content: " ";
				display: block;
				clear: both;
			}
		}

	});
	.new-items{
		background-color: @header-bg;
		margin-left: @side-margin;
		width: @content-lg-width;
		float: right;
		padding: 30px 0 22px;
		h2{
			margin-left: 45px;
			margin-bottom: 15px;
		}
		li a{
			display: block;
			padding: 0 45px;
			line-height: 50px;
			height: 50px;
			position: relative;
			span{
				.prod-head-style;
				
			}
			b{
				float: right;
				color: @text-color;
				font-weight: normal;
			}
			&:hover{
				.background-gradient(@prime-color-bg, lighten(@prime-color-bg, 10.5%), 315deg);
				span, b{
					color: @text-white;
				}
				img{
					display: inline-block;
				}
			}
			img{
				display: none;
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
				right: 160px;
				border: 10px solid @prime-color-bg;
				z-index: 1;
				.md({
					max-width: 240px;
				});
			}
			.sm({
				height: 40px;
				line-height: 40px;
				span{
					font-size: 13px;
				};
				img{
					max-width: 196px;
					border-width: 8px;
					right: 120px;
				}
			});
		}
		.sm({
			width: @content-sm-width;
			margin-left: @side-margin-sm;
		});
		.tb({
			width: 60%;
			li a{
				height: auto;
				padding: 8px 130px 8px 25px;
				line-height: 2;
				b{	
					position: absolute;
					right: 45px;
				}
				img{
					display: none !important;
				}
			}
		});
		.xs({
			width: auto;
			float: none;
			margin-left: -15px;
			margin-right: -15px;
			h2{
				margin-left: 15px;
			}
			li a{ 
				padding: 8px 85px 8px 15px;
				line-height: 1.7;
				span{
					font-size: 12px;
				}
				b{
					right: 15px;
					top: 10px;
					font-size: 13px;
				}
			}
		});

	}
}




/*======
	NEWS
======*/


.news{
	margin: 70px 0 50px;
	.news-item{
		
		float: left;
		font-size: 18px;
		font-family: @font-family-bold;
		line-height: 1.1;
		position: relative;
		overflow: hidden;
		width: 20.9%;
		height: 145px;
		.wrap{
			width: 100%;
			height: 100%;
			border: 10px solid @header-bg;
			padding: 20px 20px 25px 30px;
		}
		&+.news-item{
			margin-left: 4.8%;
		}
		&:nth-of-type(2){
			margin-left: @side-margin;
		}
		a{
			color: @text-color;
			border-bottom: 1px solid fade(@text-color, 50%);
			position: relative;
			z-index: 3;
		}
		.date{
			position: absolute;
			top: 15px;
			right: -28px;
			z-index: 0;
			width: 155px;
			text-align: center;
		}
		span{
			color: @text-white;
			font-family: @font-family-bolder;
			display: block;
			text-align: center;
			&.day{
				font-size: 112.3px;
				line-height: 0.8;
			}
			&.month{
				font-size: 16px;
			}
		}
		&.special{
			.wrap{
				border: none;
				padding: 50px 50px 20px 30px; 
			}
			a{
				color: @text-white;
				border-bottom: 1px solid fade(@text-white, 50%);
			}
		}
		.md({
			font-size: 15px;
			height: 125px;
			span.day{
				font-size: 80px;
			}
			span.month{
				font-size: 14px;
			}
			.date{
				top: 25px;
				right: -35px;
			}
		});
		.sm({
			height: 145px;
			font-size: 16.8px;
			width: 30%;
			&+.news-item{
				margin-left: 5%;
			}
			span.day{
				font-size: 112.3px;
			}
			span.month{
				font-size: 16px;
			}
			.date{
				top: 15px;
				right: -28px;
			}
			.wrap{
				padding-left: 20px !important; 
			}
		});	
	}
	.xs({
		margin-top: 10px;
		margin-bottom: 20px;
		.news-item{
			display: block;
			float: none;
			width: 100%;
			margin: 0 auto 25px !important;
			max-width: 290px;
		}
	});
}

/*CATALOG*/
.cat-content{
	float: left;
	width: @content-lg-width;
	.sm({
		width: @content-sm-width;
	});
	.show-more{
		height: 190px;
		position: relative;
		background-color: #fff;
		.load-wrap p{
			display: inline-block;
			font-size: 24px;
			color: #898989;
			margin-left: 15px;
			height: 70px;
		}
		.load-wrap img{
			max-width: 100%;
		}
		.load-wrap, button{
			.center-absolute;
			display: inline-block;
			text-align: center;
			height: 70px;
		}
		button{
			width: 200px;
			border-radius: 25px;
			background-color: @prime-color-bg;
			border: none;
			font-size: 18px;
			color: #fff;
			cursor: pointer;
			height: 50px;
			cursor: pointer;
			&:hover{
				background-color: lighten(@prime-color-bg, 10%);
			}
			
		}
	}
	.md({
		.show-more{
			height: 130px;
			.load-wrap, button{
				height: 50px;
			}
			.load-wrap p{
				font-size: 14.8px;
			}
			.load-wrap img{
				width: 45px;
			}
		}
	});

	.tb({
		width: 100%;
		display: block;
	});
	.xs({
		margin-top: 25px;
	});
}

.catalog{
	margin-top: 15px;
	font-size: 16px;
	.catalog-head{
		>span{
			float: left;
			display: inline-block;
			font-size: 14px;
			margin-top: 14px;
			margin-right: 15px;
		}
		.selectize-control{
			display: inline-block;
			float: left;
			.selectize-input{
				.prime-btn(150px, 50px);
				line-height: 42px !important;
				font-size: 14px;
				background-color: transparent;
				line-height: initial;
				text-align: left;
				padding: 0 15px;
				&:active{
					box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.125)
				}
				span{
					float: right;
					font-size: 12px;
					margin-top: 3px;
				}
				.md({
					width: 120px;
					font-size: 12px;
					padding: 0 10px;
					&:after{
						right: 5px;
					}
				});
			}
			.option:hover, .option.active{
				background-color: transparent;
				color: #000;
			}
		}
		>p{
			float: right;
			margin-left: 30px;
			width: 775px;
		}
		.load-wrap p{
			font-size: 24px;
			color: #898989;
		}
		.md({
			font-size: 14px;
			>p{
				width: 595px;
				margin-left: 20px;
			}
			>span{
				margin-right: 5px;
			}
		});
		.sm({
			>p{
				float: none;
				margin-left: 0;
				margin-bottom: 18px;
			}
			>span{
				margin-right: 15px;
			}
			.selectize-control .selectize-input{
				width: 150px;
				&:after{
					right: 10px;
				}
			}

		});
		.tb({
			>p{
				width: auto;
			}
		});
		.xs({
			>span{
				font-size: 12px;
			}
			.selectize-control .selectize-input{
				width: 107px;
				height: 40px;
				line-height: 35px !important;
				padding-right: 25px;
				.item{
					white-space: nowrap;
					max-width: 64px;
					overflow: hidden;
					display: block;
				}
			}
			.selectize-control .selectize-input:after{
				top: 60%;
			}
		});
	}
	
	.watched{
		margin: 50px 0;
		ul{
			width: 100%;
			background-color: #fff;
		}
		li{
			padding: 15px 100px 15px 25px;
			position: relative;
			z-index: 2;
			a{
				display: block;
			}
			span{
				.prod-head-style();
			}
			b{
				.prod-price();
				color: rgb(0, 0, 0);
				margin: 0;
				position: absolute;
				right: 15px;
				top: 23px;
			}
			img{
				display: none;
				.center-absolute();
				right: auto;
				left: -130px;
				height: 96px;
				border: 7px solid @prime-color-bg;
			}
			&:last-child{
				margin-bottom: 0;
			}
			&:hover{
				.background-gradient(@prime-color-bg, lighten(@prime-color-bg, 10.5%), 315deg);
				span, b{
					color: @text-white;
				}
				img{
					display: inline-block;
					
				}
			}

		}
		.md({
			li{
				padding: 10px 90px 10px 15px;
				span{
					font-size: 11px;
				}
				img{
					height: 86px;
					left: -115px;
				}
				b{
					letter-spacing: -0.7px;
				}
			}
		});
	}
	.sm({
		margin-top: 25px;
		.watched{
			margin: 35px 0;
		}
	});
	.tb({
		.sidebar{
			width: 300px;
			float: none !important;
			margin: 25px auto;
		}
		.watched li{
			padding-right: 60px;
			b{
				font-size: 12px;
			}
		}
	});
	.xs({
		.sidebar{
			max-width: 280px;
			width: auto;
			.watched{
				margin: 10px -15px 25px;
				h2{
					margin-bottom: 0;
					padding: 20px 15px;
					background-color: #fff;
				}
				img{
					display: none !important;
				}
				li{
					padding-right: 100px;
				}
				li span{
					font-size: 12px;
				}
				li b{
					font-size: 13px;
					top: 15px;
				}
				ul{
					padding-bottom: 25px;
				}
			}
		}
	});

}
.cat-products{
	margin-top: 45px;
	.prod{
		width: 25%;
		float: left;
		background-color: #fff;
		padding-bottom: 25px;
		border-style: solid;
		border-color: #e5e5e5;
		border-width: 0 1px 1px 0;
		position: relative;
		transition: box-shadow 0.5s;
		.img-wrap{
			overflow: hidden;
			width: 100%;
			height: 195px;
			position: relative;
			img{
				.center-absolute();
				transition: transform 0.5s;
			}
		}
		.text-wrap{
			padding: 0 35px;
		}
		.prod-description{
			margin-bottom: 10px;
			word-wrap: break-word;
			overflow: hidden;
		}
		.about-prod{
			font-size: 13px;
			color: #898989;
			margin-top: 10px;
			line-height: 1.3;
		}
		&:hover{
			-webkit-box-shadow: 0px 0px 40px -10px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 0px 40px -10px rgba(0,0,0,0.75);
			box-shadow: 0px 0px 40px -10px rgba(0,0,0,0.75);
			z-index: 2;
			img{
				.transform(scale(1.05));
			}
		}
	}
	a.button{
		.button-btn();
	}
	.price{
		.prod-price();
		margin-top: 5px;
	}
	a.head{
		.prod-head-style();
	}
	.md({
		.prod{
			.text-wrap{
				padding: 0 20px;
			}
			.about-prod{
				font-size: 11px;
				margin-top: 10px;
			}
		}
		a.button{
			width: 90px;
			font-size: 15px;
			padding: 0 9px;
		}
		.price{
			margin-top: 10px;
			font-size: 15px;
			margin-right: 5px;
		}
	});
	.sm({
		margin-top: 10px;
		.prod{
			width: 33.33333%;
			.head{
				font-size: 12px;
				font-family: @font-family-bolder;
			}
			.about-prod{
				font-size: 10.8px;			
			}
		}
	});
	.tb({
		&:after{
			content: " ";
			display: block;
			clear: both;
		}
	});
	.xs({
		margin-left: -15px;
		margin-right: -15px;
		.prod{
			width: 100%;
			border-right: 0;
			.head{
				font-size: 15px;
			}
			.about-prod{
				font-size: 13px;
			}
		}
	});

}
#range_start,
#range_end{
	display: block;
	width: 110px;
	height: 44px;
	background-color: #ebebeb;
	border: none;
	padding: 5px;
	text-align: center;
	font-size: 18px;
	color: @text-color;
	.md({
		font-size: 16px;
		width: 92px;
		height: 35px;
	});
	.sm({
		font-size: 13.6px;
		width: 95px;
	});
	.tb({
		width: 79px;
	});
}
.filter-wrap{
	width: @side-width !important;
	.sm({
		width: @side-width-sm !important;
	});
	.tb({
		float: none !important;
		margin-bottom: 25px;
		width: 100% !important;
	});

	.xs({
		max-width: 280px;
		margin: 0 auto;
	});
}
.filter-open{
	font-size: 15px;
	max-width: 720px;
	margin: 0 auto;
	color: #000;
	display: block;
	padding: 10px 0;
	background-color: #fff;
	position: relative;
	z-index: 3;
	text-align: center;
	box-shadow: 0;
	transition: box-shadow 0.3s;
	span{
		margin-left: 25px;
		position: relative;
	}
	&.collapsed{
		.box-shadow(0.15);
	}
	&:focus, &:hover{
		color: #000;
	}
	.xs({
		max-width: 280px;
		margin: 0 auto;
		.box-shadow(0.15);
		position: relative;
		z-index: 5;
		font-size: 12px;
		padding: 20px 30px;
		text-align: left;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		span{
			float: right;
		}
	});
}
.filter{
	padding: 40px 40px 0;
	font-size: 18px;
	.panel{
		border: none;
		box-shadow: none;
		margin-bottom: 30px;
		.panel-heading{
			color: @text-color;
			background-color: transparent;
			border-bottom: 1px solid #ebebeb;
			padding: 0 0 3px;
			a{
				display: block;
				font-size: 18px;
			}
		}
		.panel-body{
			padding: 15px 0 0;
		}
	}
	label{
		display: block;
		font-weight: normal;
		cursor: pointer;
		margin-bottom: 10px;
		span{
			display: inline-block;
			width: 26px;
			height: 26px;
			vertical-align: sub;
			position: relative;
			&:before{
				font-family: 'Glyphicons Halflings';
				display: inline-block;
				font-size: 22px;
				width: 25px;
				height: 25px;
				position: absolute;
				top: 0;
				left: 0;
				color: darken(@prime-color-bg, 10%);
			}
		}
		input[type=checkbox] + span:before{
			content:"\e157";
		}
		input[type=checkbox]:checked + span:before{
			content:"\e067";
		}
		input[type=radio] + span:before{
			content: "";
			width: 21px;
			height: 21px;
			margin: 5px 4px 0 0;
			border: 3px solid darken(@prime-color-bg, 10%);
			border-radius: 15px;
		}
		input[type=radio]:checked + span:before{
			content:"\e165";
			width: 25px;
			height: 25px;
			margin: 0;
			border: none;
		}
	}
	input[type=checkbox],
	input[type=radio]{
		display: none;
	}
	.range-input{
		margin-bottom: 5px;
		span{
			display: inline-block;
			color: #898989;
			font-size: 12px;
		}
		span+span{
			margin-left: 6px;
		}
	}
	.irs-line{
		background: #ebebeb;
		border: none;
		border-radius: 0px;
		top: 0;
	}
	.irs-bar{
		background: lighten(@prime-color-bg, 5%);
		border: none;
		box-shadow: none;
		top: 0;
	}
	.irs{
		height: 12px;
		width: auto;
		margin: 25px 0 10px;
	}
	.irs-from, 
	.irs-to,
	.irs-single,
	.irs-min, 
	.irs-max{
		display: none;
	}
	.irs-slider, 
	.irs-slider:hover, 
	.irs-slider:active{
		width: 23px;
		height: 40px;
		background: #fff;
		border: none;
		position: absolute;
		top: -15px;
		-webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
		box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
	}
	.md({
		font-size: 15px;
		padding: 25px 25px 0;	
	});
	.sm({
		padding: 25px 35px 0;
		font-size: 13.6px;
		.panel .panel-heading a{
			font-size: 13.6px;
		}
		.irs-slider, 
		.irs-slider:hover, 
		.irs-slider:active{
			height: 35px;
			width: 20px;
			top: -12px;
		}
	});
	.tb({
		padding: 25px 20px 0;
		font-size: 12px;
		label span{
			vertical-align: bottom;
		}
	});
}


/*======
	CART
======*/

.cart-cont{
	h2{
		margin: 35px 0 25px;
	}
	.cat-products{ 
		margin-top: 0;
		.prod{
			width: 20%;
		}
	}
	.cart-item{
		overflow: hidden;
		.item-top{
			overflow: hidden;
			background-color: #fff;
		}
		.img-wrap{
			min-height: 380px;
			padding: 0;
			position: relative;
			height: 100%;
			>img{
				max-width: 100%;
				.center-absolute();
			}
			border-right: 1px solid #e5e5e5;
			position: relative;
			.img-top, .img-bot{
				position: absolute;
			}
			.img-top{
				top: 20px;
				left: 40px;
				a{
					.compare();
					position: static;
					margin-left: 25px;
					font-family: @font-family-bold;
					&:hover{
						color: lighten(@prime-color, 10%)
					}
				}
			}
			.img-bot{
				bottom: 20px;
				right: 40px;
				span{
					font-size: 12px;
					color: #898989;
					display: inline-block;
					width: 95px;
					vertical-align: middle;
				}
				b{
					display: inline-block;
					font-family: @font-family-light;
					font-weight: normal;
					font-size: 64.7px;
					color: @prime-color;
					line-height: 1;
					vertical-align: middle;
				}
			}
		}
	}
	.item-right{
		position: relative;
		padding: 50px 60px 30px;
		.item-right-wrap{
			width: 500px;
		}
		.item-name{
			font-size: 30px;
			margin-bottom: 25px;
			line-height: 1.2;
		}
		.item-about{
			font-family: @font-family-light;
			font-size: 16px;
			color: #7c7c7c;
		}
		.button-btn{
			text-align: left;
			font-size: 16px;
			padding-left: 17px;
			&.dark-btn{
				width: 180px;
				background-color: #1e1e1e;
				margin-left: 10px;
				&:hover{
					background-color: lighten(#1e1e1e, 10%);
				}
			}
		}
		form label{
			vertical-align: top;
			margin-right: 10px;
			font-weight: normal;
			margin-bottom: 30px;
		}
		input[type=number], .selectize-input{
			display: block;
			width: 50px;
			height: 45px;
			background-color: #f2f2f2;
			border: none;
			text-align: center;
			padding-left: 13px;
			font-size: 18px;
		}
		.selectize-input, .selectize-control.single .selectize-input.input-active{
			background-color: #f2f2f2;
		}
		.control-group{
			display: inline-block;
		}
		.selectize-input{
			width: 140px;
			border-radius: 0;
			box-shadow: none;
			padding: 0 15px;
			line-height: 45px;
			text-align: left;
		}
		.price{
			display: inline-block;
			vertical-align: top;
			margin: 17px 0 0 30px;
			span{
				display: block;
			}
		}
		.old{
			text-decoration: line-through;
		}
		.new{
			font-size: 30px;
			line-height: 1.2;
		}
		button{
			margin-bottom: 22px;
		}
		.quant{
			display: inline-block;
			font-size: 13px;
			height: 20px;
			line-height: 24px;
			position: absolute;
			top: 58px;
			right: 58px;
			i{
				display: inline-block;
				float: left;
				height: 100%;
				width: 3px;
				border-radius: 1.5px;
				background-color: @prime-color-bg;
			}
			i+i{
				margin-left: 3px;
			}
			span{
				margin-left: 10px;
			}
		}
		.md({
			padding: 40px 44px 24px;
			.item-right-wrap{
				width: 380px;
			}
			.quant{
				right: 30px;
				top: 46px;
				span{
					margin-left: 5px;
				}
			}
			.item-name{
				font-size: 25px;
			}
			.item-about{
				font-size: 14px;
			}
			.price{
				margin-left: 20px;
			}
			.new{
				font-size: 26px;
				margin-top: 3px;
			}
		});		
	}
	.item-bot{
		background-color: #1f1f1f;
		padding: 70px 45px;
		color: @text-white;
		.nav-tabs{
			border-bottom: none;
			margin-bottom: 40px;
		}
		.nav-tabs>li>a{
			border: none;
			font-size: 16px;
			color: @text-white;
			padding: 12px 20px;
			border-radius: 23px;
		}
		.nav-tabs>li + li{
			margin-left: 10px;
		}
		.nav-tabs>li.active>a, 
		.nav-tabs>li.active>a:hover, 
		.nav-tabs>li.active>a:focus,
		.nav-tabs>li>a:hover, 
		.nav-tabs>li>a:focus{
			text-decoration: none;
			background-color: @prime-color-bg;
		}
		.spec{
			font-size: 14px;
			width: 630px;
			display: inline-block;
			li span{
				display: inline-block;
				width: 49%;
				border-bottom: 1px solid #313131;
				padding-top: 10px;
				padding-bottom: 2px;
			}
			.spec-left{
				font-family: @font-family-light;
			}
			.spec-right{
				font-family: @font-family-bold;
				float: right;
			}
			&+.spec{
				margin-left: 60px;
			}
			.md({
				font-size: 13px;
				width: 500px;
				&+.spec{
					margin-left: 40px;
				}
			});
		}
	}
	.sm({
		.item-right{
			.item-about{
				font-size: 12px;
			}
			.quant{
				position: static;
				margin-bottom: 10px;
			}
			.item-name{
				margin-bottom: 15px;
			}
		}
		.item-bot{
			padding: 20px 28px 35px;
			.nav-tabs{
				li a{
					font-size: 13.5px;
					padding: 6px 15px;
				}
			}
			.spec{
				width: 400px;
			}
		}
	});
	.tb({
		.item-right{
			.quant{
				position: absolute;
			}
		}
		.item-bot{
			.spec{
				display: block;
				float: none;
				margin: 0 auto 15px;
				+ .spec{
					margin-left: auto;
				}
			}
		}
	});
	.xs({
		margin-top: 44px;
		margin-bottom: 20px;
		.container{
			padding: 0;
		}
		.cat-products{
			margin: 0;
			.prod{
				width: 210px;
			}
		}
		.cart-item{
			.img-wrap{
				border-right: 0;
				min-height: 267px;
				.img-bot{
					span{
						font-size: 8px;
						width: 65px;
					}
					b{
						font-size: 35px;
					}
				}
				.img-top{
					img{
						max-width: 85px;
					}
					a{
						font-size: 11px;
						margin-left: 20px;
						padding-left: 30px;
						background-size: 25px;
					}
				}
			}
		}
		.item-right{
			padding: 25px 15px;
			margin-right: -15px;
			.selectize-input{
				height: 40px;
				font-size: 14px;
				line-height: 40px;
				width: 110px;
			}
			input[type="number"]{
				width: 40px;
				height: 40px;
				font-size: 14px;
			}
			.item-right-wrap{
				width: auto;
			}
			.quant{
				position: static;
				font-size: 10px;
			}
			.item-name{
				font-size: 18px;
				margin-bottom: 10px;
			}
			.tiny{
				font-size: 10px;
			}
			form label{
				margin-right: 5px;
			}
			.price{
				margin-left: 5px;
				margin-top: 18px;
				.new{
					font-size: 22px;
				}
			}
			.item-about{
				padding-right: 15px;
				font-size: 10px;
			}
			.button-btn{
				height: 25px;
				line-height: 25px;
				padding: 0 5px;
				font-size: 13.5px;
				&.dark-btn{
					width: 140px;
				}
			}
		}
		.item-bot{
			padding: 18px;
			.nav-tabs{
				li a{
					font-size: 9.5px;
					padding: 3px 5px;
				}
				li+li{
					margin-left: 0;
				}
			}
			.spec{
				width: 100%;
				margin-bottom: 0;
				font-size: 11px;
				li span{
					padding-top: 6px;
					padding-bottom: 1px;
				}
			}
		}
	});
}


/*======
	ORDER
======*/
.order{
	margin-bottom: -10px;
	.form-top{
		font-size: 14px;
		>label{
			cursor: pointer;
			input{
				display: none;
			}
			span{
				display: inline-block;
				width: 23px;
				height: 23px;
				background-color: #fff;
				border-radius: 50%;
				text-align: center;
				line-height: 25px;
				margin-right: 5px;
				b{
					display: inline-block;
					width: 11px;
					height: 11px;
					border-radius: 50%;
				}
			}
			input:checked + span{
				b{
					background-color: @prime-color-bg;					
				}
			}
		}
		>label+label{
			margin-left: 15px;
		}
		.orderer-type{
			width: 665px;
			margin: 35px 0;
			padding-bottom: 30px;
			border-bottom: 1px solid #dfdfdf;
			label{
				margin-bottom: 15px;
				span{
					display: inline-block;
					width: 185px;
					color: fade(@text-color, 50%);
				}
				input{
					width: 480px;
					height: 50px;
					border: none;
					padding: 0 27px;
					font-family: @font-family-light;
				}
			}
		}
	}
	.form-bot{
		font-size: 16px;
		h2{
			margin-bottom: 40px;
		}
		span{
			font-size: 14px;
			color: fade(@text-color, 50%);
			display: inline-block;
			width: 185px;
			height: 100%;
			vertical-align: top;
			line-height: 50px;
		}
		.selectize-control{
			display: inline-block;
		}
		.selectize-input{
			width: 480px;
			height: 50px;
			border: none;
			font-size: 16px;
			line-height: 50px;
			padding: 0 27px;
			box-shadow: none;
			border-radius: 0;
			span{
				float: right;
				color: @prime-color-bg;
				font-family: @font-family-bold;
				font-size: 16px;
				width: auto;
				margin-right: 15px;
			}
		}
		.selectize-dropdown{
			border: none;
			.option{
				padding: 5px 27px;
			}
		}
		.payment-method{
			margin-top: 15px;
			.radio-wrap{
				width: 490px;
				display: inline-block;
				margin-left: -10px;
			}
			label{
				width: 235px;
				float: left;
				height: 100px;
				line-height: 100px;
				background-color: #fff;
				vertical-align: top;
				position: relative;
				cursor: pointer;
				margin: 0 0 10px 10px;
				text-align: center;
				input{
					display: none;
				}
				b{
					position: absolute;
					top: 10px;
					right: 10px;
					font-family: @font-family-bold;
					font-weight: normal;
					color: @prime-color-bg;
					line-height: 1.2;
				}
				span{
					display: inline-block;
					line-height: 1.2;
					width: 175px;
					text-align: left;
					padding-left: 55px;
					height: auto;
					min-height: 60px;
					background-repeat: no-repeat;
					background-position: left top;
					vertical-align: baseline;
				}
				&.payment-1 span{
					background-image: url("@{images}/order-radio1.png");
					background-position: 5px 0;
				}
				&.payment-2 span{
					background-image: url("@{images}/order-radio2.png");
				}
				&.payment-3 span{
					background-image: url("@{images}/order-radio3.png");
				}
				&.payment-4 span{
					background-image: url("@{images}/order-radio4.png");
					background-position: 10px 0;
				}
				&.payment-5 span{
					background-image: url("@{images}/order-radio5.png");
				}
			}
		}
		.comment{
			margin-bottom: 20px;
			textarea{
				width: 480px;
				height: 100px;
				border: none;
				background-color: #fff;
				padding: 12px 27px;
				font-size: 16px;
				font-family: @font-family-light;
			}
		}
		.submit{
			padding-left: 185px;
			button{
				.button-btn();
				width: 288px;
				height: 65px;
				text-align: left;
				padding: 0 32px;
				border-radius: 32px;
			}
		}
	}
	.order-right{
		padding: 50px 70px 40px 80px;
		background-color: #fff;
		h2{
			margin-bottom: 30px;
		}
		.sum{
			font-size: 24px;
			margin-top: 45px;
			span:last-child{
				font-family: @font-family-light;
				margin-left: 75px;
			}
		}
		.items-wrap{
			border-bottom: 1px solid #e8e8e8;
		}
		.order-item{
			position: relative;
			overflow: hidden;
			padding: 25px 0;
			border-top: 1px solid #e8e8e8;
			>img{
				float: left;
				margin-right: 40px;
			}
		}
		.text-wrap{
			width: 200px;
			float: left;
			margin-right: 60px;
			padding-top: 5px;
		}
		.about-prod{
			font-size: 13px;
			color: #898989;
			margin-top: 10px;
		}
		.price{
			.prod-price();
			margin: 0 0 10px;
			font-size: 24px;
			display: block;
		}
		a.head{
			.prod-head-style();
		}
		input{
			.prime-btn(115px, 55px);
			font-size: 24px;
			color: #000;
			text-align: center;
			position: relative;
		}
		.item-right{
			text-align: center;
			display: inline-block;
			padding-top: 5px;
		}
		.quant{
			display: inline-block;
			position: relative;
			span{
				display: inline-block;
				cursor: pointer;
				position: absolute;
				top: 20px;
				z-index: 2;
				color: fade(@text-color, 50%);
				&:first-child{
					right: 15px;
				}
				&:last-child{
					left: 15px;
				}
			}
		}
		.del{
			position: absolute;
			top: 30px;
			right: 0;
		}
	}
}


@media (max-width: 480px) { 
	.index-cont .slider .text-box{
		left: auto;
		right: 0;
	}
}